<!-- Suchbalken -->
<div class=" row active-blue m-4 text-center">
  <span class="col-4 m-auto">Suchbegriffe bitte eingeben --> </span>
  <input [(ngModel)]="searchquery" (ngModelChange)="searchqueryUpdate()" class="col-8 form-control float-right" type="text" placeholder="Search" aria-label="Search">
</div>

<div class="row">

  <div class="col-12 text-center">
      <p>Searchquery cleared: --> {{ cleanSearchquery }}</p>
  </div>

</div>

<app-seite *ngFor="let seite of seiten" [seitenInfos]="seite"></app-seite>




