<!-- Pfeil unten/oben -->
<i (click)="switchAnzeigen()" [className]="anzeigen ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>

<!-- InfoBox -->
<div *ngIf="anzeigen" class="row my-3">

  <div class="col-xs-12 col-lg-6 mb-3">
    Die eingegebenen Suchwörter werden rechts mit einer Umrandung angezeigt.
  </div>

  <div class="col-xs-12 col-lg-6">
    <!--  2 Span um Problem zu lösen, dass kein whitespace zwischen den badges ist -->
    <span *ngFor="let key of objectKeys(woerter)"> <span
        [className]="woerter[key] ? 'd-inline-block badge badge-success' : 'd-inline-block badge  badge-danger'">{{key + ': ' + woerter[key]}}</span>
      &nbsp;</span>
  </div>

</div>